<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./index.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="logo">Logo</div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/service">Service</a></li>
                <li><a href="/product">Product</a></li>
            </ul>
        </nav>
    </header>
    <section>
        <h1>Index</h1>
        <div>
            <%= message %>
        </div>
        <div>
            <%= date %>
        </div>
    </section>
</body>
</html>