<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1> Dom Test </h1>
    <button id="bt">Click me</button>
    <ul>
        <li class="a">item1</li>
        <li class="a">item2</li>
        <li class="a">item3</li>
        <li class="a">item4</li>
    </ul>
    <script>
        var bt = document.getElementById('bt');
        console.log(bt);
        var bt2 = document.querySelector('#bt');
        console.log(bt2);

        // 요소 하나를 찾을 때
        // getElementById()
        // quarySlector()

        // 요소 여러개를 찾을 때
        var list = document.getElementsByClassName('a')
        /*
        console.log(list); // HTMLCollection 형태로 가져옴. 실시간 반영

        for(var i=list.length-1; i>=0; i--){
            list[i].className = 'b';
        }
        */

        var list2 = document.querySelectorAll('ul>li');
        /*
        console.log(list2) // 실시간 반영 X
        for(var i=0; i<list2.length; i++){
            list2[i].className = 'b';
        };
        */

        var list3 = document.getElementsByTagName('li');
        /*
        console.log(list3); // HTMLCollection 실시간 반영
        */


        /*
        console.log(bt);
        bt.onclick = function(){
            console.log('click');
        }
        */
    </script>
</body>
</html>